@import "../stylesheets/globals.scss";

.global {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  padding: 10px;
  background-color: $primary-color;
  text-align: center;
  color: white;
}
